.App {
  text-align: center;
}

input {
  margin-top: 70px;
}

.inputField {
  height: 30px;
  width: 30%;
  margin-right: 10px;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: cursive;
  font-size: 16px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px -1px rgba(0, 0, 0, 0.14);
}

.user-button {
  font-size: 16px;
  cursor: pointer;
  height: 55px;
  width: 110px;
  border-radius: 50px;
  box-shadow: 0px 4px 15px -1px rgba(0, 0, 0, 0.14);
}

.user-button:disabled {
  cursor: not-allowed;
  color: gray;
}

.modal-class {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}